body {
    color:rgb(255, 115, 115);
    background:rgb(230, 226, 226);
    margin: 0px;   
    font-family: "Chakra Petch", sans-serif;
}


header{

border-bottom: solid 2px rgb(255, 115, 115);
padding: 20px;
font-size: 32px;
color: rgb (255, 115, 155);
}
 

section {
    background: rgb(193, 193, 193);
    padding-bottom: 80px;
    padding-top: 80px;
    padding-right: 5%;
    display: flex; 
  justify-content: center;
}

.chamda-texto{
    margin-right: 5%;
}